@page "/sheet/{numberOfColumns:int}"
@inject IStringLocalizer<Index> localizer

<table>
	<thead>
		<tr>
			<th colspan="2" />
			@for (int i = 1; i <= numberOfColumns; i++)
			{
				<th>@localizer["Game {0}", i]</th>
			}
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>&#9856;&#9856;&#9856;</th>
			<td>@localizer["Only Aces count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Aces" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Aces)" /></td>
			}
		</tr>
		<tr>
			<th>&#9857;&#9857;&#9857;</th>
			<td>@localizer["Only Twos count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Twos" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Twos)" /></td>
			}
		</tr>
		<tr>
			<th>&#9858;&#9858;&#9858;</th>
			<td>@localizer["Only Threes count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Threes" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Threes)" /></td>
			}
		</tr>
		<tr>
			<th>&#9859;&#9859;&#9859;</th>
			<td>@localizer["Only Fours count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Fours" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Fours)" /></td>
			}
		</tr>
		<tr>
			<th>&#9860;&#9860;&#9860;</th>
			<td>@localizer["Only Fives count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Fives" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Fives)" /></td>
			}
		</tr>
		<tr>
			<th>&#9861;&#9861;&#9861;</th>
			<td>@localizer["Only Sixes count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Sixes" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Sixes)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Sum"]</th>
			<td></td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" readonly @bind="Game.Columns[localIndex].TopSum" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Bonus with 63+"]</th>
			<td>@localizer["Plus 35"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" readonly @bind="Game.Columns[localIndex].Bonus" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Total Top"]</th>
			<td></td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" readonly @bind="Game.Columns[localIndex].TopSumWithBonus" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["3 of a kind"]</th>
			<td>@localizer["All dice count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].ThreeOfAKind" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].ThreeOfAKind)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["4 of a kind"]</th>
			<td>@localizer["All dice count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].FourOfAKind" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].FourOfAKind)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Full House"]</th>
			<td>@localizer["Score {0}", 25]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].FullHouse" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].FullHouse)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Small straight"]</th>
			<td>@localizer["Score {0}", 30]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].SmallStraight" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].SmallStraight)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Large straight"]</th>
			<td>@localizer["Score {0}", 40]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].LargeStraight" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].LargeStraight)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Yatzy"]</th>
			<td>@localizer["Score {0}", 50]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Yatzy" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Yatzy)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Chance"]</th>
			<td>@localizer["All dice count"]</td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" @bind="Game.Columns[localIndex].Chance" onclick="this.select()" class="@GetCssClass(Game.Columns[localIndex].Chance)" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Total Bottom"]</th>
			<td></td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" readonly @bind="Game.Columns[localIndex].LowSum" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Total Column"]</th>
			<td></td>
			@for (int i = 0; i < numberOfColumns; i++)
			{
				var localIndex = i;
				<td><input type="number" readonly @bind="Game.Columns[localIndex].ColumnSum" /></td>
			}
		</tr>
		<tr>
			<th>@localizer["Grand Total"]</th>
			<td></td>
			<td colspan="@numberOfColumns"><input type="number" readonly style="width: 100%;" @bind="Game.Total" /></td>
		</tr>
	</tbody>
</table>

@code {
	[ParameterAttribute] public int numberOfColumns { get; set; }

	Game Game { get; set; }

	protected override void OnParametersSet()
	{
		Game = new Game(numberOfColumns);
	}

	string GetCssClass(int? value)
	{
		if (value == 0)
			return "crossed";
		if (value is not null)
			return "filled";
		return "";
	}
}
